

#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  color: #333;
  border-radius: 4px;
  background-color: salmon;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}

i{
  cursor: pointer;
}

.App .Todo{
  min-width: 30em;
  margin-top: 50px;
  color: #888;
}

.App .Todo h2{
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.App .Todo h2 i{
  position: absolute;
  top: 4px;
  right: 4px;
}

i.fa-university{
  color: red;
}

.App .Todo .TodoList >li:nth-child(odd){
  background-color: #eee;
}

.App .Todo .TodoList > li:nth-child(even){
  background-color: transparent;
}

.TodoItem{
  padding: .5em;
  display: flex;
  align-items: center;
}

.TodoItem > .title{
  flex-grow: 1;
  padding: 0 .5em;
}


.TodoInput{
  width: 100%;
  line-height: 1.8;
  margin-bottom: 1em;
  font-size: 16px;
  padding: 0 .2em;
}



.UserDialog-Wrapper{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%,-50%);
  /* 水平垂直居中 */
  display: flex; justify-content: center; align-items: center;
}

.UserDialog{
  border: 1px solid color;
  border-radius: 4px;
  min-width: 20em;
  min-height: 10em;
  background-color: #fff;
  position: relative;
}

.signInOrSignUp{
  position: absolute;
  top: -2em;
  left: 0;
  min-height: 10em;
  min-width: 36em;
  background-color: #888;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .3);
}

.signInOrSignUp nav{
  min-height: 10em;
}

.signInOrSignUp nav:after{
  content: '';
  display: block;
  clear: both;
}

.dialog.up{
  float: left;
  min-height: 10em;
  padding: 5em 0;
}

.dialog.in{
  float: right;
  min-height: 10em;
  padding: 5em 0;
}

.dialog p{
  font-size: 30px;
  color: #fff;
  margin: 30px;
}

.dialog label{
  margin-top: 20px;
  background-color: inherit;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 30px;
  cursor: pointer;
  margin-left: 2em;
}

.dialog input[type="radio"]{
  display: none;
}

.panes{
  position: absolute;
  top: 0;
  left: -1em;
  border: 1px solid salmon;
  background-color: #fff;
  min-height: 19em;
  min-width: 18.2em;
}

.UserDialog .signInOrSignUp > nav:first-child{ 
  padding: 1em;
}

.UserDialog .signInOrSignUp > nav:first-child label{ 
  margin-left: 2em; 
  cursor: pointer;
}

.UserDialog .signInOrSignUp > .panes { 
  padding: 0 1em 1em; 
}

.UserDialog > .panes{
  padding: 0 1em 1em;
}

.UserDialog form>.row>input{
  border: 0;
  color: #000;
  border-bottom: 1px solid #ccc;
  transition: all .3s;
}

.panes form.signUp,
.panes form.signIn
{
  padding: 2em;
}

.panes form.signUp h3,
.panes form.signIn h3{
  font-size: 2em;
  color: #888;
  margin-bottom: 1em;
}

.panes form.signUp .row,
.panes form.signIn .row{
  display: flex;
  margin: 16px 0;
}

.panes form.signUp .row:nth-child(4),
.panes form.signIn .row:nth-child(3){
  margin-bottom: 30px;
}

.panes form.signUp .row input,
.panes form.signIn .row input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding-right: 50px;
  outline: none;
  line-height: 1.6;
}

.panes form.signUp .row input:focus,
.panes form.signIn .row input:focus{
  outline: none;
  border-bottom: 2px solid salmon !important;
  transition: all .3s;
}


.panes form.signUp .row.actions,
.panes form.signIn .row.actions{
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.panes form.signUp .row.actions button,
.panes form.signIn .row.actions button{
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: salmon;
  color: #fff;
}

.panes form.signIn .row.actions button{
  margin-bottom: 10px;
}

.panes form.signIn .row.actions a{
  color: salmon;
}


.forgotPassword{
  border: 1px solid #ccc;
}

.forgotPassword h3{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-color: #ccc;
}

.forgotPassword .row{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

.forgotPassword .row input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding-right: 50px;
  outline: none;
  line-height: 1.6;
}

.forgotPassword .row input:focus{
  outline: none;
  border-bottom: 2px solid salmon ;
}

.forgotPassword .row.actions{
  display: flex;
  align-items: center;
}

.forgotPassword button{
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: salmon;
  color: #fff;
}

.forgotPassword a{
  text-decoration: none;
  color: salmon;
}
